//! **************************************************************************
// Written by: Map P.49d on Thu Jul 09 01:48:01 2015
//! **************************************************************************

SCHEMATIC START;
MACRO "hset" LOCATE = SITE "SLICE_X0Y0:SLICE_X1Y1" LEVEL 1;
SCHEMATIC END;

