//! **************************************************************************
// Written by: Map P.49d on Thu Jul 09 01:18:42 2015
//! **************************************************************************

SCHEMATIC START;
MACRO "roModule_inst" LOCATE = SITE "SLICE_X1Y3" LEVEL 1;
SCHEMATIC END;

