//! **************************************************************************
// Written by: Map P.20131013 on Fri Nov 20 15:26:36 2015
//! **************************************************************************

SCHEMATIC START;
MACRO "ro_module_inst/roModule_inst" LOCATE = SITE "SLICE_X29Y11" LEVEL 1;
COMP "sysConf0" LOCATE = SITE "R18" LEVEL 1;
COMP "sysConf1" LOCATE = SITE "P16" LEVEL 1;
COMP "sysRst" LOCATE = SITE "Y16" LEVEL 1;
COMP "sysClock" LOCATE = SITE "L16" LEVEL 1;
COMP "sysSel<0>" LOCATE = SITE "G15" LEVEL 1;
COMP "sysSel<1>" LOCATE = SITE "P15" LEVEL 1;
COMP "sysout<0>" LOCATE = SITE "M14" LEVEL 1;
COMP "sysSel<2>" LOCATE = SITE "W13" LEVEL 1;
COMP "sysout<1>" LOCATE = SITE "M15" LEVEL 1;
COMP "sysSel<3>" LOCATE = SITE "T16" LEVEL 1;
COMP "sysout<2>" LOCATE = SITE "G14" LEVEL 1;
COMP "sysout<3>" LOCATE = SITE "D18" LEVEL 1;
SCHEMATIC END;

